.colorback{
  background-image: linear-gradient(to bottom right, rgb(57, 180, 83), rgb(197, 166, 25));
}

.nav2 {
  background-color: rgba(47, 104, 71, 0.596);
  margin-top: -33px;
}
.bottomN {
  margin: auto;
  justify-content: space-between;
}
.jumbotron {
  background-image: url("https://mission-produce-static.sfo2.digitaloceanspaces.com/our-avocados/our-avocado-header@2x.jpg");
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid #ff6a00;
}
.jumbotron .container {
  position: relative;
  top: 50px;
}
.thehead {
  text-align: center;
  margin-top: 20px;
  font-style: initial;
}
.discribe {
  text-align: center;
  margin-bottom: 50px;
}
.thehead2 {
  text-align: center;
  margin-top: 30px;
  font-style: initial;
}
.discribe2 {
  text-align: center;
  margin-bottom: 50px;
}
.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
