body {
  background-image: url(https://cdn.wallpapersafari.com/34/14/6YOyvB.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
.text1 {
  text-align: center;
  color: rgba(115, 180, 108, 0.89);
  font-size: 300%;
  font-style: italic;
}
.paragraph1 {
  text-align: center;
  color: rgba(115, 180, 108, 0.89);
  font-size: 125%;
 font-style: oblique;
}
