
.login {
  width: 100%;
  height: 508px;
}
.login__container {
  width: 43%;
  margin: 3% auto;
  height: auto;
  border: 2px solid black;
  background-color: rgba(237, 240, 215, 0.397);
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}
.login__container--img {
  max-width: none;
  width: 100%;
  height: 80px;
  background-image: linear-gradient(rgba(160, 238, 221, 0.897), rgb(71, 122, 114));
  object-fit: cover;
  background-size: 100% 100%;
  border-radius: 20px 20px 0px 0px;
  text-align: center;
  padding-top: 15px;
}
.login__container--input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 28px 25px;
  width: 50%;
}
.login__container--input input {
  margin-bottom: 60px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: black;
  font-size: 20px;
  border-bottom: white solid 2px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-left: 50%;
  outline: none;
}
.login__container--input label {
  font-style: bold;
  font-size: 125%;
  padding-right: 10px;
  margin-left: 50%;
}
.button {
  border-radius: 20px;
  background-color: rgb(112, 196, 211);
  border-style: none;
  font-size: 16px;
  font-weight: bold;
  height: 60px;
  width: 85%;
  margin-left: 65%;
  outline: none;
}
.login2 {
  font-size: 50px;
  text-align: center;
  color: black;
}
