.login {
  width: 100%;
  height: 840px;
}
.login__container {
  width: 40%;
  margin: 3% auto;
  height: auto;
  background-color: rgba(151, 219, 96, 0.3);
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}
.login__container--img {
  width: 100%;
  height: 250px;
  background-image: url(https://cdn.shopify.com/s/files/1/0685/3787/articles/1875_grande.jpg?v=1466314413);
  object-fit: cover;
  background-size: 100% 100%;
  border-radius: 20px 20px 0px 0px;
  text-align: center;
  padding-top: 150px;
  opacity: 0.6;
}
.login__container--input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 28px 25px;
  width: 50%;
}
.login__container--input input {
  margin-bottom: 60px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: black;
  font-size: 20px;
  border-bottom: white solid 2px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-left: 50%;
  outline: none;
}
.login__container--input label {
  font-style: bold;
  font-size: 120%;
  padding-right: 10px;
  margin-left: 50%;
}
.button {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.6);
  border-style: none;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  width: 125%;
  margin-left: 50%;
  outline: none;
}
.login2 {
  font-size: 50px;
  text-align: center;
  color: black;
}
