.navbar {
  width: 100%;
  height: 90px;
  margin: 0 auto;
  background-color: rgba(36, 155, 46, 0.582);
}
.logo-img {
  height: 55px;
  width: 250px;
  margin-top: -18px; 
}
.navbar-right{
  font-size: 20px;
  
}

